<template>
    <div class="container border py-3">

        <h3>Seleccione el metodo de pago</h3>

        <select class="form-control" v-model="tipo">
            <option :value="true">Tarjeta de credito<br></option>
            <option :value="false">Paypal<br></option>
        </select>

        <form v-if="tipo==true">
            <span>Seleccione tipo de tarjeta</span>
            <select class="form-control" v-model="tarjeta" @click="resetNumber()">
                <option value="visa">VISA<br></option>
                <option value="mastercard">MasterCard<br></option>
            </select>
            <span>Nombre del titular</span><br>
            <input class="form-control" type="text" required>
            <span>Número de la tarjeta</span><br>
            <input class="form-control" type="number" v-model="valor" placeholder="1234 5678 9012 3456" required>
            <span>Mes de caducidad / Año de caducidad</span><br>
            <input class="form-control" type="number" v-model="mes" placeholder="MM" maxlength="2" required>
            <span>Año de caducidad</span><br>
            <input class="form-control" type="number" v-model="year"  placeholder="YY" maxlength="4" required>
            <span>CVV</span><br>
            <input class="form-control" type="password" v-model="cvv" placeholder="123" maxlength="3" required>

            <boton class="btn btn-info mt-2" @click="cambiar()">Comprobar</boton>
        </form>
        <form  v-if="tipo==false">
            <span>Correo</span><br>
            <input class="form-control" type="email" placeholder="Dirección de correo" required>
            <span>Contraseña</span><br>
            <input class="form-control" type="password" required>
        </form>

    </div>
</template>

<script>
export default {
    name: "DetailsView",
    data() {
        return {
            tipo:true,
            valor:'',
            tarjeta:'visa',
            paypal:'',
            visa:0,
            mastercard:0,
            visa_error:'',
            mastercard_error:'',
            mes:'',
            year:'',
            cvv:'',

        }
    },props:['pelicula']
    ,components: {
    }, created() {

    },
    methods: {
        cambiar(){
            if (this.tarjeta=='visa'){
                this.visa=this.valor;
                if (!this.visa.match(/^4\d{3}-?\d{4}-?\d{4}-?\d{4}$/))
                    this.visa_error = "Error, el campo número de Visa es incorrecto";
                if (this.visa_error!==''){
                    alert(this.visa_error);
                }
            }

            if (this.tarjeta=='mastercard'){
                this.mastercard=this.valor;
                if (!this.mastercard.match(/^5[1-5]\d{2}-?\d{4}-?\d{4}-?\d{4}$/))
                    this.mastercard_error = "Error, el campo número de Master Card es incorrecto";
                    if (this.mastercard_error!==''){
                        alert(this.mastercard_error);
                    }
                }

            if (this.mes.length>2&&this.mes>12){
                alert('Error, el campo mes no es valido.');
            }
            if (this.year.length>2&&this.year<21){
                alert('Error, el campo año no es valido.');
            }
            if (this.cvv.length!=3){
                alert('Error, el campo cvv no es valido.');
            }

        },resetNumber(){
            this.valor='';
        }

    }
}
</script>
